# Prisma
DATABASE_URL=postgresql://user:password@localhost:5432

# Elastic Search
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USER=user
ELASTICSEARCH_PASSWORD=password

# Rabbit MQ
RABBITMQ_URL=localhost
RABBITMQ_PROTOCOL=amqp
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=password
